<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Inventory</title>

  <!-- Mobile/Browser Compatibility -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS -->
  <!-- Materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <!-- Personal -->
  <link rel="stylesheet" href="assets/css/style.css" type="text/css" />
  <!-- ICONS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Scripts JS -->
  <script src="assets/js/inventory.js"></script>


  {{!-- </head>
<!--Nav Bar-->
<nav>
  <div class="nav-wrapper black">
    <div class="row">
      <div class="col s12">

        <a href="#" target="_blank" class="brand-logo right">John McKay Custom</a>
      </div>
    </div>
  </div>
</nav>
<ul id="slide-out" class="sidenav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="http://placehold.it/1024x512/454545">
      </div>
      <a href="#user">
        <img class="circle" src="http://placehold.it/64">
      </a>
      <a href="#name">
        <span class="white-text name">John Doe</span>
      </a>
      <a href="#email">
        <span class="white-text email">jdandturk@gmail.com</span>
      </a>
    </div>
  </li>
  <li>
    <a href="#">Search</a>
  </li>
  <li>
    <form>
      <div class="input-field">
        <input id="search" type="search" required>
        <label class="label-icon" for="search">
          <i class="material-icons">search</i>
        </label>
      </div>
    </form>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <a href="#">Update Inventory</a>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <a href="#">View All</a>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <a class="subheader">
      <a href="#">Logout</a>
    </a>
  </li>
</ul> --}}
</head>

<body>
  <nav>
  <div class="nav-wrapper black">
    <div class="row">
      <div class="col s12">
                <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
        <!-- <a href="#" target="_blank" class="brand-logo"> -->
        <h5 class="brand-logo">John McKay Custom&trade; Inventory Management System</h5>
        <!-- </a> -->
        <!-- <h6 class="sub-name">Inventory Management System</h6> -->
      </div>
    </div>
  </div>
</nav>
<ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="http://placehold.it/1024x512/454545">
      </div>
      <a href="#user"><img class="circle" src="http://placehold.it/64"></a>
      <a href="#name"><span class="white-text name">John McKay</span></a>
      <a href="#email"><span class="white-text email">john@johnmckaycustom.com</span></a>
    </div></li>
    <!-- <li><a href="#">Search</a></li> -->
    <li>
        <form id="searchbar">
            <!-- <div class="input-field">
                <input placeholder="Search..." id="search" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            </div> -->

            <!-- <div class="input-field" style="max-width: 300pt;">
                <input id="search" type="search" placeholder="Search..." required onkeyup="getBlogs(this.value,0);">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
                <div id="searchResults" ></div>
            </div> -->

            <!-- <li class="search"> <div class="search-wrapper card input-field">
        <input type="search" placeholder="Search..." required onkeyup="getBlogs(this.value,1);">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
          <div id="searchResults2"></div>
        </div></li> -->

        <div class="input-field row">
            <i class="material-icons prefix" style="margin-left: 2vh">search</i>
            <input id="search" type="search" class="col s12 center" placeholder="Search inventory">
            <i class="material-icons">close</i>
        </div>


        </form>
    </li>
    <!-- <li><a class="waves-effect waves-light btn">Update Inventory</a></li> -->
    <li><a class="modal-trigger" href="/form">Add Inventory</a></li>
    <li><div class="divider"></div></li>
    <!-- <li><a class="waves-effect waves-light btn">Update Inventory</a></li> -->
    <li><a href="/inventory">View All</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader"><a href="/">Logout</a></a></li>
  </ul>

  <!-- Main Body -->
  <main>
    <div class="main-container">
      <div class="container">

        <div class="card-panel black">
          <span class="white-text">

            <h2>Inventory</h2>

            <table>
              <thead>
                <th> Item </th>
                <th> Category </th>
                <th> Size </th>
                <th> Color </th>
                <th> Quantity </th>
                <th> Recieved </th>
              </thead>
              <tbody>
                {{#each Inventory}}
                <tr>
                  <td>{{this.item}}</td>
                  <td>{{this.category}}</td>
                  <td>{{this.size}}</td>
                  <td>{{this.color}}</td>
                  <td>{{this.quantity}}</td>
                  <td>{{this.recieved}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </span>

        </div>
      </div>
    </div>
  </main>



  <!-- Footer -->
  <footer class="page-footer black">
    <!-- <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            </ul>
        </div>
      </div>
    </div> -->
    <div class="footer-copyright">
      <div class="container center" id="footer">
        © 2018 Copyright

      </div>
    </div>
  </footer>


  <!-- JQuery -->
    <script src="https://code.jquery.com/jquery.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    <!-- Personal JS -->
    <!-- <script src="assets/js/inventory.js"></script> -->

    <!-- Ajax -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script> -->


    <!-- PAGE JS -->
    <script type="text/javascript">

    $(document).ready(function(){
    // SIDENAV
    $('.sidenav').sidenav();
    $('.sidenav').sidenav('close');
});

    // UPDATE MODAL
    $(document).ready(function(){
    $('.modal').modal();
  });

$("#search").on('keyup', function (e) {
    if (e.keyCode == 13) {
        console.log(Text);
    }
});

    </script>
    
</body>

</html>





{{!--
<script>
  var source = $("#some-template").html();
  var template = Handlebars.compile(source);
  var data = {
      Inventory: [{
            Inventory: [{
                  item: {
                    Item: "Blue  Collar"
                    Category: "Shirt"
                    Size: "L"
                    Color: "White"
                    Quanitity: "20"
                    Recieved: "Back Order"
                  },
                  {
                    item: {
                      Item: "Red Collar"
                      Category: "Shirt"
                      Size: "S"
                      Color: "White"
                      Quanitity: "5"
                      Recieved: "In Transit"
                    },
                    {
                      item: {
                        Item: "Fitted drk_bl"
                        Category: "Pants"
                        Size: "M"
                        Color: "Navy"
                        Quanitity: "0"
                        Recieved: "By End Of Day"
                      }]
                  };
                  // Handlebars.registerHelper('Item', function(person) {
                  //     return person.firstName + " " + person.lastName;
                  // });
                  $('body').append(template(data));
</script> --}}