<h1>Inventory</h1>

  <table>
  <thead>
    <th> Item </th>
    <th> Category </th>
    <th> Size </th>
    <th> Color </th>
    <th> Quantity </th>
    <th> Recieved </th>
  </thead>
  <tbody>
    {{#each Inventory}}
      <tr>
        <td>{{this.item}}</td>
        <td>{{this.category}}</td>
        <td>{{this.size}}</td>
        <td>{{this.color}}</td>
        <td>{{this.quantity}}</td>
        <td>{{this.recieved}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>


<h2>Add an Item</h2>


 <form class="create-form">

  <div class="form-group">
    <label for="item">Item:</label>
    <input type="text" id="id" name="item">
  </div>

  <div class="form-group">
    <label for="sleepy">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div>

  <button type="submit">Add Item</button>
{{!-- </form> 
{{ <script>
var source = $("#some-template").html();
var template = Handlebars.compile(source);
var data = {
    Inventory: [{
        Inventory: [ { 
        item: {
            Item: "Blue  Collar"
            Category: "Shirt"
            Size: "L"
            Color: "White"
            Quanitity: "20"
            Recieved: "Back Order"        
    }, {
        item: {
            Item: "Red Collar"
            Category: "Shirt"
            Size: "S"
            Color: "White"
            Quanitity: "5"
            Recieved: "In Transit" 
    }, {
        item: {
            Item: "Fitted drk_bl"
            Category: "Pants"
            Size: "M"
            Color: "Navy"
            Quanitity: "0"
            Recieved: "By End Of Day" 
    }]
};
// Handlebars.registerHelper('Item', function(person) {
//     return person.firstName + " " + person.lastName;
// });
$('body').append(template(data));
</script> }} --}}